main {
  width: 100%;
  height: 100vh;
  padding: 30px 40px;
  height: 100%;
}

input {
  background-color: var(--lightdark);
  padding: 15px 20px;
  border-radius: 15px;
  color: var(--white);
  width: 100%;
}

textarea {
  width: 100% !important;
  height: 200px;
  resize: none;
  border-radius: 20px;
  background-color: var(--lightdark);
  padding: 20px;
  color: var(--white);
}

.icon {
  font-size: 1.4rem;
}

/* targeting components to be created */
main > * {
  background-color: var(--dark);
  color: var(--white);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

main > * .header {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: cursive;
}

.personal-data {
  border-radius: 20px;
}

.personal-data .names {
  display: flex;
  gap: 20px;
}

.personal-data .names input {
  flex: 1 1 auto;
}

.personal-data .profile-picture input::file-selector-button {
  display: none;
}

.work-experience-container .icon.add {
  padding: 10px 50px;
  background-color: var(--lightdark);
  border-radius: 15px;
}

.work-experience-container .work {
  background-color: var(--dark);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.work-experience-container .work .work-title {
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.skills-input .skill {
  display: flex;
  gap: 15px;
  align-items: center;
}

.skills-input .skill input {
  width: 100%;
}

.contacts-input .email-address {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* dealing with final CV result */
#cv {
  margin: 0 auto;
  margin-top: 20px;
  width: 700px;
  background-color: var(--white);
  color: var(--dark);
  border: 2px solid;
  padding: 30px 60px;
  display: block;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

#cv > * {
  padding: 10px 0 20px;
  border-bottom: 2px solid var(--dark);
}

#cv > :last-child {
  border: none;
}

#cv .header {
  font-size: 1.5rem;
  font-family: cursive;
  margin-bottom: 10px;
}

#cv .profile section {
  display: flex;
  gap: 20px;
  align-items: center;
}

#cv .profile div:first-child {
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#cv .profile .names {
  font-size: 1.8rem;
}

#cv .profile .niche {
  padding: 10px 40px;
  border-radius: 15px;
  background-color: var(--dark);
  color: var(--white);
  width: fit-content;
}

#cv .profile img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

#cv .work-experience .jobs {
  display: flex;
  gap: 20px;
}

#cv .work-experience .job {
  width: 50%;
  justify-items: flex-start;
}

#cv .work-experience .position {
  text-transform: capitalize;
  text-shadow: 0 1px 3px var(--dark);
}

#cv .education-skills {
  display: flex;
  gap: 10px;
}

#cv .education-skills > * {
  width: 50%;
}

#cv .skills .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

#cv .skills .skill {
  background-color: var(--dark);
  color: var(--white);
  border-radius: 10px;
  text-align: center;
  line-height: 1rem;
  padding: 10px;
  text-transform: lowercase;
}

#cv .contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 10px;
}

#cv .contacts > div {
  display: flex;
  gap: 7px;
  font-size: 0.8rem;
  align-items: center;
}

#cv .contacts .icon {
  font-size: 1rem;
}
